#assigned-to-input {
  position: relative;
  width: 100%;
}

#assigned-to-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

#assigned-to-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  label {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding-left: 8px;
      width: 80%;
    }

    input {
      width: 20%;
    }
  }
}

.dropdown-item img {
  width: 42x; /* Adjust the size as needed */
  height: 42px; /* Adjust the size as needed */
  border-radius: 50%;
}

.dropdown-item label {
  flex-grow: 1;
}

.dropdown-item:hover {
  background-color: #e0dfe4;
}

.addTask-profilepicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #29abe2;
  border: 1px solid white;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 8px;
  height: 5px;
  pointer-events: none;
}

.custom-checkbox {
  cursor: pointer;
}

.checked {
  background-color: #2a3647 !important;
  p {
    color: #fff;
  }
}
