#assigned-to-input {
  position: relative;
  width: 100%;
}

#assigned-to-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
}

#assigned-to-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Ensure it appears above other elements */
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 20px;

  label {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding-left: 8px;
      width: 80%;
    }

    input {
      width: 20%;
    }
  }
}

.dropdown-item img {
  width: 24;
  height: 24;
  border-radius: 3px;
}

.dropdown-item label {
  flex-grow: 1;
}

.dropdown-item:hover {
  background-color: #e0dfe4;
}

.addTask-profilepicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 20px;
  border: 1px solid white;
}

.input-icon-assign-to-container {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27%;
  right: 10px;
}

.input-icon-assign-to-container:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.custom-checkbox {
  cursor: pointer;
}

.checked {
  background-color: #2a3647 !important;
  p {
    color: #fff;
  }
}

.createTask-button:disabled {
  box-shadow: none;
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}

.current-letter {
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: #f6f5fa;
}

.assigned-circles-section {
  display: flex;
  justify-content: flex-start;
  width: 290px;
  height: fit-content;
  position: relative;
  top: -5px;
  overflow-x: auto;
}
