@font-face {
  font-family: "inter";
  src: url(./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "inter";
}

.content-width {
  display: flex;
  height: 100vh;
}

.content-wrapper {
  background-color: rgb(246, 247, 248);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-right {
  height: 100%;
}

:root {
  --orange: #ff7a00;
  --pink: #ff5eb3;
  --purple: #6e52ff;
  --violet: #9327ff;
  --cyan: #00bee8;
  --green: #1fd7c1;
  --peach: #ff745e;
  --blue: #0038ff;
  --lime: #c3ff2b;
  --yellow: #ffe62b;
  --gold: #ffc701;
  --coral: #ffbb2b;
  --red: #ff4646;
  --magenta: #fc71ff;
  --light-orange: #ffbb2b;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 4px;
}

/* ::-webkit-scrollbar-button {
  display: block;
} */
