.contacts-content-wrapper {
  display: flex;
}

.contacts-content-left {
  width: 456px; /* Feste Breite von 456px */
  background-color: white;
  height: calc(100vh - 96px);
  overflow-y: auto;
}

.add-new-contact {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  color: white;
  width: 352px;
  height: 56px;
  border-radius: 10px;
  border-width: 1px;
  gap: 8px;
  font-weight: 700;
  font-size: 21px;
  line-height: 25.2px;
  letter-spacing: 0%;

  img {
    width: 32px;
    height: 32px;
  }
}

.add-new-contact:hover {
  cursor: pointer;
  background: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.contacts-content-left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: white;
}

.contact-profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
  gap: 16px;
}

.contact-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.contact-email {
  color: #007cee;
}

.bigContacts {
  font-family: Inter;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  letter-spacing: 0%;
}

.betterwith {
  color: #2a3647;
  display: flex;
  align-items: center;
  width: 235px;
  height: 59px;
  padding-left: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 27px;
  border-left: 3px solid #29abe2;
}

.contacts-list {
  margin-top: 32px;
  padding-left: 24px;
}

.current-letter-b {
  width: 352px;
  height: 58px;
  padding-top: 17px;
  padding-right: 36px;
  padding-bottom: 17px;
  padding-left: 36px;
  gap: 8px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.contacts-content-right {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: calc(100% - 456px);
}

.contacts-heading-right {
  padding-top: 126px;
  padding-left: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 569px;
  height: 73px;
  gap: 16px;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px;
  span {
    font-weight: 400;
    font-size: 20px;
  }

  .blue-mail {
    color: #007cee;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
.pic-and-name {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 32px;
}

.name-and-edit {
  padding-left: 64px;
}

.edit-delete-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  font-weight: 400;
  font-size: 16px;
}

.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn:hover,
.delete-btn:hover {
  cursor: pointer;
  scale: 1.1;

  svg path {
    stroke: #29abe2;
    fill: #29abe2;
  }

  button {
    color: #29abe2;
    font-weight: bold;
    box-shadow: none;
  }
}
.mail-and-number {
}
