.addTask-header {
  width: 100%;
  display: flex;
  h1 {
    margin-left: 64px;
  }
}

.addTask-margin {
  margin: 16px;
}

.addTask-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 64px;
}

.addTask-left {
  width: 460px;
  height: 400px;
  padding: 32px;
}

.addTask-right {
  border-left: solid 1px #c9cdd3;
  width: 400px;
  height: 400px;
  padding: 32px;
}

/* .addTask-title {
  input {
    width: 400px;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #c9cdd3;
  }
} */

.addTask-section {
  width: 440px;
  margin-bottom: 20px;
}

.addTask-section p {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.addTask-section input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.addTask-section input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.description-area {
  height: 136px;
  width: 440px;
  gap: 4px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  max-width: 440px;
  max-height: 136px;
  resize: none;
}

.addTask-section textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.select-user {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.select-user:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.prio-btn {
  display: flex;
  gap: 10px;
}

.addTask-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 32px;
}

.createTask-button {
  width: 183px;
  height: 56px;
  padding: 16px 0px 0px 0px;
  gap: 4px;
  border-radius: 10px;
  background: #2a3647;
  color: White;
}

.addTask-subtasks {
  width: 440px;
  margin-bottom: 20px;
}

.subtasks-btn {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  input {
    border: none;
  }
  button {
    border-radius: 5px;
    background-color: white;
  }
}

.addTask-subtasks {
  width: 440px;
  margin-bottom: 20px;
}

.addTask-subtasks p {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.addTask-subtasks input {
  width: 100%;
  padding: 10px;

  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.addTask-subtasks input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.description-area {
  height: 136px;
  width: 440px;
  gap: 4px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  max-width: 440px;
  max-height: 136px;
  resize: none;
}
.prio-buttons {
  display: flex;
  gap: 10px;
}

.prio-btn-urgent,
.prio-btn-medium,
.prio-btn-low {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  opacity: 0px;
  background: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.prio-btn-urgent:hover,
.prio-btn-medium:hover,
.prio-btn-low:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.urgent-btn-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  opacity: 0px;
  background: #ff3d00;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.medium-btn-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  opacity: 0px;
  background: #ffa800;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.low-btn-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  opacity: 0px;
  background: #7ae229;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.low-btn-active:hover,
.medium-btn-active:hover,
.urgent-btn-active:hover {
  cursor: default;
}
