.board-header {
    height: 232px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
}

.board-header-title {
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.board-header-title h2 {
    font-size: 61px;
}

.search-and-add-task {
    display: flex;
    gap: 32px;
}

.add-task {
    width: 160px;
    font-size: 21px;
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.1s ease-in-out;
}

.add-task:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.add-task img {
    height: 18.5px;
}

.search-btn {
    border-left: #C9CDD3 solid 1px;
    padding-left: 20px;
}

.find-task {
    transition: border-color 0.1s ease-out;
    height: 48px;
    width: 312px;
    padding: 8px 16px;
    border: 1px solid #C9CDD3;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.find-task:focus-within {
    border: 1px solid #29ABE2
}

.find-task input {
    border: none;
}

.find-task input::placeholder {
    color: #C9CDD3;
}

.find-task input:focus {
    outline: none;
}

.flex-title {
    display: flex;
    justify-content: space-between;
}

.btn-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 2px solid #2A3647;
    border-radius: 8px;
}

.btn-title:hover {
    color: #29ABE2;
    border-color: #29ABE2;
}

.board-wrapper {
    padding: 0 64px 24px 64px;
    height: calc(100% - 328px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

.board-wrapper>* {
    flex: 1 1 0;
    min-width: 0;
}

.board-title-field-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.board-field {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.board-card {
    padding: 16px;
    border: 1px solid #2A3647;
    border-radius: 24px;
    max-height: 225px;
    min-height: 177px;
    flex-grow: 1;
    box-shadow: 0px 0px 10px 3px #00000014;

}

.board-card:active {
    transform: rotate(5deg);
}

.no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: rgb(231, 231, 231);
    color: #A8A8A8;
    border-radius: 10px;
    border: 1px dotted #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
}

.add-task-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-task-overlay-content {
    height: 870px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 64px 74px;
}

.input [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  
  [type="date"]::-webkit-calendar-picker-indicator {
    background: #fff url(./AddTaskSection/calendar.png) 97% 50% no-repeat
    
  }