.color-User-Story {
  background-color: #0038FF;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px;
  border-radius: 8px;
  width: fit-content;
  color: white;
}

.color-Technical-Task {
  background-color: #1FD7C1;
  padding: 4px 16px;
  border-radius: 8px;
  width: fit-content;
  color: white;
}

.board-header {
  height: 232px;
  width: 100%;
  max-width: calc(1920px - 232px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}

body {
  overflow: hidden;
}

.board-header-title {
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
}

.board-header-title h2 {
  font-size: 61px;
}

.search-and-add-task {
  display: flex;
  gap: 32px;
}

.confirm-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#confirmTaskChanges {
  background-color: #2a3647;
  padding: 16px;
  border-radius: 10px;
  color: white;
  font-size: 21px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

#confirmTaskChanges:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#confirmTaskChanges:disabled {
  box-shadow: none;
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}

.board-card-assigned-contacts {
  display: flex;
}

.contact-profile-picture-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  border: 1px solid white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.add-task {
  width: 160px;
  font-size: 21px;
  background-color: #2a3647;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.1s ease-in-out;
}

.add-task:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.add-task img {
  height: 18.5px;
}

.search-btn {
  border-left: #c9cdd3 solid 1px;
  padding-left: 20px;
}

.find-task {
  transition: border-color 0.1s ease-out;
  height: 48px;
  width: 312px;
  padding: 8px 16px;
  border: 1px solid #c9cdd3;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.find-task:focus-within {
  border: 1px solid #29abe2;
}

.find-task input {
  border: none;
}

.find-task input::placeholder {
  color: #c9cdd3;
}

.find-task input:focus {
  outline: none;
}

.flex-title {
  display: flex;
  justify-content: space-between;
}

.btn-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: 2px solid #2a3647;
  border-radius: 8px;
}

.btn-title:hover {
  color: #29abe2;
  border-color: #29abe2;
}

.btn-title:hover path {
  stroke: #29abe2;
}

.board-wrapper {
  padding: 0 64px 24px 64px;
  min-height: calc(100% - 232px);
  height: fit-content;
  width: 100%;
  max-width: calc(1920px - 232px);
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

.board-wrapper > * {
  flex: 1 1 0;
  min-width: 0;
}

.board-title-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board-field {
  overflow: visible;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.board-card {
  word-break: break-all;
  cursor: pointer;
  padding: 16px;
  border: none;
  min-width: 240px;
  border-radius: 24px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  box-shadow: 0px 0px 10px 3px #00000014;
  transform-origin: bottom left;
}

.board-card:active {
  transform: rotate(5deg);
}

.board-contacts-and-priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.board-card-description {
  color: #A8A8A8;
  
}

.board-card-priority {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-card-priority img {
  width: 20px;
}

.board-card-subtasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

progress[value] {
  -webkit-appearance:none;
  -moz-appearance:none;        
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #e6e6e6;
  border-radius: 16px;
}

progress::-webkit-progress-value {
  background-color: #4589FF;
  border-radius: 16px;
}

progress {
  width: 128px;
  height: 8px;
}

.board-card-subtasks span {
  font-size: 12px;
}

.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: rgb(231, 231, 231);
  color: #a8a8a8;
  border-radius: 10px;
  border: 1px dotted #a8a8a8;
  box-shadow: 0px 0px 4px 0px #00000029;
  pointer-events: none;
}

.add-task-overlay {
  pointer-events: all;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

.add-task-overlay:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.add-task-overlay.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.add-task-overlay-content {
  position: absolute;
  top: calc(50% - 435px);
  left: -1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 870px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  padding: 64px 74px;
  transition: all 0.2s ease-in-out;
}

.addTask-header {
  display: flex;
  justify-content: space-between;
}

.addTask-header-and-input {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.close-btn {
  position: relative;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  animation-timing-function: ease-out;
  animation-duration: 1000ms;
}

.assigned-to-input-field::placeholder {
    color: black;
}

.close-btn:hover {
  cursor: pointer;
  background-color: #d9d9d93f;
}

.close-btn:hover img {
  transform: scale(1.05);
}

.input [type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  background: #fff url(./AddTaskSection/calendar.png) 97% 50% no-repeat;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(900%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.click-notification-add-task {
  gap: 16px;
  width: 326px;
  height: 74px;
  position: fixed;
  bottom: 50%;
  left: 50%;
  display: none;
  background-color: #2a3647;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-notification-add-task.show {
  display: flex;
  animation: slideInFromBottom 0.5s ease-out forwards;
  opacity: 1;
}

.add-task-mobile-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 3px;
  display: none;
}

.mobile-headline-wrapper {
  display: flex;
  align-items: center;
}

.close-edit-task-overlay-btn {

  z-index: 1000;
  transform: translateY(-18px);
  padding: 24px;
  height: 70px;
  position: sticky;
  top: 0px;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.close-edit-task-overlay-btn img {
  cursor: pointer;
  margin-right: 24px;
  transform: translateX(40px);
}

.badge-close-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.close-task-card-overlay-btn {
  cursor: pointer;
}

.edit-task-overlay-hight {
  height: 90vh !important;
}

@media (max-height: 870px) {
  .task-card {
    overflow: auto;
  }
}

@media(max-width: 1280px) {
  .content-right {
    height: calc(100% - 176px);
  }

  .board-wrapper {
    flex-direction: column;
    padding: 0 16px 64px 16px ;
    height: fit-content;
  }

  .addTask-subtasks {
    padding: 10px !important;
  }

  .board-card {
    min-width: 252px;
    max-width: 252px;
    flex-grow: 0;
  }

  .board-field {
    flex-direction: row;
    overflow: auto;
    padding: 8px;
  }

  .add-task-mobile-btn {
    display: flex;
  }

  .add-task {
    display: none;
  }

  .board-header-title {
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 0 16px;
  }

  .board-header-title h2 {
    font-size: 47px;
  }

  .mobile-headline-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .search-and-add-task {
    width: 100%;
  }

  .find-task {
    width: 100%;
  }

  .no-tasks {
    flex: 1;
  }

  .btn-title {
    height: 30px;
    width: 30px;
  }

  .btn-title svg {
    height: 15px;
    width: 15px;
    padding: 0;
  }
}

@media (max-width: 570px) {
  .addTask-section {
    gap: 0 !important;
  }

  .addTask-section p {
    font-size: 16px !important;
  }

  .addTask-section input {
    font-size: 14px !important;
    width: 99% !important;
  }

  .description-area {
    font-size: 14px !important;
    height: fit-content !important;
    padding: 4px 8px  !important;
    width: 99% !important;
  }

  .prio-buttons {
    flex-direction: row !important;
    gap: 4px !important;
  }

  .addTask-profilepicture {
    height: 32px !important;
    width: 32px !important;
    transform: translateY(10px);
    font-size: 12px !important;
    font-weight: 200;
  }

  .assigned-circles-section {
    gap: 0px;
  }

  .subtask-add {
    transform: translateY(40%);
  }

  .cancel-check-btn {
    transform: translateY(50%);
  }

  .cancel-check-btn img {
    height: 16px;
  }

  #confirmTaskChanges {
    font-size: 14px;
    padding: 12px 12px;
    margin-top: 32px;
  }
}

@media (max-width: 450px) {
  .prio-buttons {
    width: 100% !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  #urgent-btn {
    width: 90% !important;
  }

  #medium-btn {
    width: 90% !important; 
  }

  #low-btn {
    width: 90% !important;
  }
}