* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: #F6F7F8;

}

/*   :::::::   content wrapper   :::::::   */
.login-content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 96vw;
    max-width: 1440px;
    height: auto;
    min-height: 880px;
    position: relative;
    overflow: hidden;
}

/*   :::::::   animationen   :::::::   */
@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        background: transparent;
    }
}

@keyframes shrink-move {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        top: 0px;
        left: 0px;
        transform: scale(0.5, 0.5);
    }
}

@keyframes color-change {
    0% {
        fill: #FFFFFF;
    }

    100% {
        fill: #2A3647;
    }
}

/*   :::::::   'not a user' login   :::::::   */
.nau-sign-up-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 16px;
}

.nau-sign-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 320px;
    height: 40px;
    padding: 8px;
    gap: 16px;
}

.nau-sign-up button {
    width: 80px;
    height: 32px;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #2A3647;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.guest-login:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.nau-sign-up button:hover,
.login:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-color: #007bff;
}

/*   :::::::   logo und animation   :::::::   */
.p1-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: translate(-50%, -50%);
    width: 172px;
    display: flex;
    justify-content: center;
    background: transparent;
    z-index: 999;
}

.p1-logo.animate {
    animation: shrink-move forwards;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

#Ebene_1 {
    width: 120px;
    height: 240px;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    animation: fade-out forwards;
    animation-duration: 2s;
    animation-delay: 2.4s;
    transition-timing-function: ease-in-out;
    z-index: 0;
}

/*   :::::::   page 'Login'   :::::::   */
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 560px;
    height: 449px;
    min-height: 449px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

/*   :::::::   'Login' headline   :::::::   */
.login-h1 {
    margin-bottom: 48px;
    width: 315px;
    height: 89px;
    gap: 16px;
    position: relative;
}

.login-h1::after {
    content: "";
    display: block;
    width: 40%;
    height: 8px;
    border-bottom: 3px solid #29ABE2;
    margin-top: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-h1 h1 {
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    line-height: 73.2px;
}

/*   :::::::   login form   :::::::   */
#loginForm {
    width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form form {
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.email-wrapper,
.pw-wrapper {
    width: 422px;
    height: 48px;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}

.email-wrapper:hover,
.pw-wrapper:hover {
    border-color: #007bff;
}

.email-wrapper input,
.pw-wrapper input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1em;
    outline: none;
    padding: 0 16px 0 0;
    background: transparent;
}

#pw-icon {
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

#error {
    width: 422px;
    height: 16px;
    color: red;
    font-size: 0.7em;
    margin-block-start: -10px;
}

.error-highlight {
    border-color: red !important;
}

/*   :::::::   remember me   :::::::    */
.remember-me-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remember-me-wrapper label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.remember-me-wrapper input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;

}

.remember-me-wrapper label::before {
    content: url('../assets/svg/box-unchecked.svg');
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: .5em;
    cursor: pointer;
}

.remember-me-wrapper label:hover::before,
.remember-me-wrapper input[type="checkbox"]:hover+label::before,
.remember-me-wrapper input[type="checkbox"]:focus+label::before {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #EDF2FA;

}

.remember-me-wrapper input[type="checkbox"]:checked+label::before {
    content: url('../assets/svg/box-checked.svg');
    width: 1em;
    height: 1em;
    border: none;
}

.rm-chb {
    width: 20px !important;
    height: 20px !important;
    margin-right: 10px !important;
}

/*   :::::::   login button  guest login button   :::::::    */
.login-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 20px;
}

.login {
    width: 110px;
    height: 40px;
    padding: 8px 24px 18px 24px;
    border: none;
    border-radius: 8px;
    background-color: #2A3647;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}

.login:hover {
    background-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login:disabled {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;

}

.guest-login {
    width: 180px;
    height: 40px;
    padding: 8px 24px 18px 24px;
    border: 1px solid #2A3647;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    color: #2A3647;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

/*   :::::::   Privacy Policy and Legal notice  :::::::   */
.prvt-polce-legl-note-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 8px;
}

.prvt-polce-legl-note {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 24px;
}

.priv-legal {
    gap: 10px;
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: transparent;
}

.priv-legal:hover {
    text-shadow: 1px 1px 2px #00000040;
}

.d-none {
    display: none;
}

/*   :::::::   media query  :::::::   */
@media screen and (width < 640px) {
    .login-content {
        width: 98%;
    }

    .email-wrapper,
    .pw-wrapper,
    #loginForm {
        width: 92%;

    }

    #error {
        width: 92%;
    }

    .login-button-box {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;
    }

    .login {
        width: 180px;
        font-size: 16px;
    }

    .guest-login {
        font-size: 16px;
    }

    .login-h1 {
        margin-bottom: 48px;
        margin-top: 12px;
    }

    .nau-sign-up,
    .nau-sign-up-box {
        justify-content: center;
    }

    .nau-sign-up-box {
        top: 720px;
    }

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 1);
        z-index: 0;
    }

    #Ebene_1 g path[fill="#2A3647"] {
        fill: #FFFFFF;

    }

    #Ebene_1 g path[fill="#2A3647"] {
        animation: color-change 2s forwards;
        animation-duration: 2.4s;
        animation-delay: 1.6s;
        animation-timing-function: ease-in-out;
    }
}

@media screen and (320px < width < 428px) {
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 1);
        z-index: 0;
    }

    .login-content {
        width: 88%;
    }

    .email-wrapper,
    .pw-wrapper,
    #loginForm {
        width: 88%;

    }

    #Ebene_1 g path[fill="#2A3647"] {
        fill: #FFFFFF;
    }

    #Ebene_1 g path[fill="#2A3647"] {
        animation: color-change 2s forwards;
        animation-duration: 2.4s;
        animation-delay: 1.6s;
        animation-timing-function: ease-in-out;
    }

    .nau-sign-up-box {
        top: 82%;

    }

    .login-content-box {
        height: 665px;
        min-height: 100%;
    }

    .login-content {
        top: 124px;
    }

    #error {
        width: 72%;
    }


}

@media screen and (height < 740px) {
    .login-h1 h1 {
        font-size: 54px;
    }

    .login-h1::after {
        margin-top: 4px;
    }

    .login-form form {
        gap: 9px;
    }

    .login-h1 {
        height: 64px;
    }

    .login-content {
        height: 32%;
    }

    .login-h1 {
        margin-top: 4px;
    }

    .email-wrapper, .pw-wrapper {
        height: 40px;
    }

    .login-button-box {
        margin-top: 16px;
    }

    .login, .login { 
        height: 38px;
    }

    .nau-sign-up-box {
        top: 610px;
    }

    .prvt-polce-legl-note-box {
        bottom: 12px;
    }
}

@media screen and (height < 670px) {
  

    .login-content {
        min-height: 62%;
    }

    .login-h1 {
        margin-top: 4px;
    }

    .email-wrapper, .pw-wrapper {
        height: 40px;
    }

    .login, .login { 
        height: 38px;
    }

    .nau-sign-up-box {
        top: 550px;
    }

    .prvt-polce-legl-note-box {
        bottom: 12px;
    }
}