.d-none {
  display: none !important;
}

.overflow-y-auto{
  overflow-y: auto;
}

button {
  border: unset;
  cursor: pointer;
  background-color: unset;
}

.button-general {
  border-radius: 10px;
}

.button-summary {
  border-radius: 30px;
}

.content-width {
  margin: 0 auto;
}

.vl {
  width: 0px;
  height: 59px;
  gap: 0px;
  opacity: 0px;
  border: 2px solid #29abe2;
  border-radius: 2px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-27-px {
  font-size: 27px;
}

.font-size-61px {
  font-size: 61px;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-47px {
  font-size: 47px;
}

.font-weight-500 {
  font-weight: 500;
}

.color-2A3647 {
  color: #2a3647;
}

.color-29ABE2 {
  color: #29ABE2;
}

.flex-box {
  display: flex;
  align-items: center;
  gap: 80px;
}

.flex-center {
  justify-content: center !important;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.margin-top-350 {
  margin-top: 350px;
  padding: 0 !important;
}

.gap-16 {
  gap: 16px;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}
.display-none {
  display: none;
}

.padding-right-68px {
  padding-right: 68px !important;
}
